<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707365312544-60dfl5lsl0r10ppm7lj869rkvu1df4s3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707365312544-60dfl5lsl0r10ppm7lj869rkvu1df4s3</string>
	<key>API_KEY</key>
	<string>AIzaSyC7W6HGIQUk8I9brb5KQ6_V-EPxaVJr-rs</string>
	<key>GCM_SENDER_ID</key>
	<string>707365312544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialMediaAppTutorial.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>socialmediapp-a4434</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmediapp-a4434.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707365312544:ios:43d5334c73819206d8c445</string>
</dict>
</plist>